<a href="https://colab.research.google.com/github/lymc33/Precision/blob/main/ClientesV1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Precision Detect/Resultados/TOTAL dic-abril 2021.csv', header=None)

In [ ]:
df.head()

      0                1   ...               25         26
0  FOLIO          CLIENTE  ...  FECHA DETECCION  RESULTADO
1      1  PrecisionDetect  ...       22/12/2020   Negativo
2      3  PrecisionDetect  ...       22/12/2020   Positivo
3      4  PrecisionDetect  ...       22/12/2020   Negativo
4      5  PrecisionDetect  ...       22/12/2020   Negativo

[5 rows x 27 columns]

In [ ]:
df.shape

(3121, 27)

In [ ]:
#Título de las columnas
list_of_column_names = list(df.columns)
print('List of column names : ', 
      list_of_column_names)

List of column names :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [ ]:
print(df[11])

0       HOSPITALARIA O AMBULATORIA
1                                A
2                                A
3                                A
4                                A
                   ...
3116                             A
3117                             A
3118                             A
3119                             A
3120                             A
Name: 11, Length: 3121, dtype: object

In [ ]:
df.drop([0, 1, 3, 4, 5, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25], axis=1, inplace=True)

In [ ]:
df.index.values

array([   0,    1,    2, ..., 3118, 3119, 3120])

In [ ]:
#Cambiar el nombre de las columnas en el CSV
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
#Título de las columnas
list_of_column_names = list(df.columns)
  
# displaying the list of column names
print('List of column names : ', 
      list_of_column_names)

List of column names :  ['USUARIO', 'NOMBRE', 'APELLIDO', 'SEXO', 'EDAD', 'SINTOMAS', 'ID MUESTRA', 'FECHA EXTRACCION', 'RESULTADO']

In [ ]:
df.index.values

array([   1,    2,    3, ..., 3118, 3119, 3120])

In [ ]:
df['ID MUESTRA']

1        PD.PD.02.0704
2        PD.PD.02.0705
3        PD.PD.02.0706
4        PD.PD.02.0707
5        PD.PD.02.0708
             ...
3116    PD.SEG.02.0003
3117    PD.SEG.02.0005
3118    PD.SEG.02.0006
3119    PD.SEG.02.0007
3120    PD.SEG.02.0008
Name: ID MUESTRA, Length: 3120, dtype: object

In [ ]:
#Archivos duplicados según ID Muestra
df['ID MUESTRA'].duplicated().sum()

35

In [ ]:
duplicates = df[df['ID MUESTRA'].duplicated(keep=False)]['ID MUESTRA'].tolist()
duplicates

['PD.F&P.02.21',
 'PD.F&P.02.21',
 'PD.CFM.02.0012',
 'PD.CFM.02.0013',
 'PD.CFM.02.0014',
 'PD.CFM.02.0015',
 'PD.CFM.02.0016',
 'PD.CO.02.0015',
 'PD.CO.02.0016',
 'PD.CO.02.0017',
 'PD.KR.02.0001',
 'PD.KR.02.0002',
 'PD.KR.02.0003',
 'PD.KR.02.0004',
 'PD.KR.02.0005',
 'PD.KR.02.0006',
 'PD.KR.02.0001',
 'PD.KR.02.0002',
 'PD.KR.02.0003',
 'PD.KR.02.0004',
 'PD.KR.02.0005',
 'PD.KR.02.0006',
 'PD.WR.02.0014',
 'PD.WR.02.0015',
 'PD.WR.02.0016',
 'PD.WR.02.0017',
 'PD.WR.02.0018',
 'PD.WR.02.0019',
 'PD.WR.02.0020',
 'PD.WR.02.0021',
 'PD.WR.02.0022',
 'PD.WR.02.0023',
 'PD.WR.02.0024',
 'PD.WR.02.0025',
 'PD.WR.02.0026',
 'PD.WR.02.0027',
 'PD.CFM.02.0012',
 'PD.CFM.02.0013',
 'PD.CFM.02.0014',
 'PD.CFM.02.0015',
 'PD.CFM.02.0016',
 'PD.WÜ.02.0001',
 'PD.WÜ.02.0002',
 'PD.WÜ.02.0003',
 'PD.WÜ.02.0004',
 'PD.WÜ.02.0005',
 'PD.CO.02.0015',
 'PD.CO.02.0016',
 'PD.CO.02.0017',
 'PD.WR.02.0014',
 'PD.WR.02.0015',
 'PD.WR.02.0016',
 'PD.WR.02.0017',
 'PD.WR.02.0018',
 'PD.WR.02.0019',
 'PD.WR.02.0020',
 'PD.WR.02.0021',
 'PD.WR.02.0022',
 'PD.WR.02.0023',
 'PD.WR.02.0024',
 'PD.WR.02.0025',
 'PD.WR.02.0026',
 'PD.WR.02.0027',
 'PD.WÜ.02.0001',
 'PD.WÜ.02.0002',
 'PD.WÜ.02.0003',
 'PD.WÜ.02.0004',
 'PD.WÜ.02.0005',
 'PD.PD.02.2002',
 'PD.PD.02.2002']

In [ ]:
#Lista de elementos duplicados de acuerdo al ID
duplicates = df[df['ID MUESTRA'].duplicated(keep=False)]['ID MUESTRA'].index
duplicates

Int64Index([ 180,  297,  893,  894,  895,  896,  897,  898,  899,  900,  901,
             902,  903,  904,  905,  906,  983,  984,  985,  986,  987,  988,
             996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1017, 1018,
            1019, 1020, 1021, 1031, 1032, 1033, 1034, 1035, 1095, 1096, 1097,
            1098, 1099, 1100, 1101, 1102, 2022, 2023, 2024, 2025, 2026, 2027,
            2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038,
            2039, 2040, 2695, 2697],
           dtype='int64')

In [ ]:
df.drop(labels=duplicates, axis=0, index=None, columns=None, level=None, inplace=True, errors='raise')

In [ ]:
df.isnull().sum()

0
USUARIO               0
NOMBRE                0
APELLIDO              0
SEXO                  0
EDAD                414
SINTOMAS            415
ID MUESTRA            0
FECHA EXTRACCION      0
RESULTADO             0
dtype: int64

In [ ]:
df.dtypes

0
USUARIO             object
NOMBRE              object
APELLIDO            object
SEXO                object
EDAD                object
SINTOMAS            object
ID MUESTRA          object
FECHA EXTRACCION    object
RESULTADO           object
dtype: object

In [ ]:
df.shape

(3050, 9)

In [ ]:
df['FECHA EXTRACCION']

1       21/12/2020
2       21/12/2020
3       21/12/2020
4       21/12/2020
5       21/12/2020
           ...
3116     15/4/2021
3117     15/4/2021
3118     15/4/2021
3119     15/4/2021
3120     15/4/2021
Name: FECHA EXTRACCION, Length: 3050, dtype: object

In [ ]:
# Cambiar index por fechas 

# df = df.set_index(df['FECHA EXTRACCION'], drop=False)

In [ ]:
df['FECHA EXTRACCION'] = pd.to_datetime(df['FECHA EXTRACCION'])

In [ ]:
df.head()

0     USUARIO           NOMBRE  ... FECHA EXTRACCION RESULTADO
1  Particular   Carlos Alberto  ...       2020-12-21  Negativo
2  Particular      Maria Elena  ...       2020-12-21  Positivo
3  Particular           Víctor  ...       2020-12-21  Negativo
4  Particular      Irma yaneth  ...       2020-12-21  Negativo
5  Particular  Abril del Rocío  ...       2020-12-21  Negativo

[5 rows x 9 columns]

In [ ]:
dfDiciembre = df[(df['FECHA EXTRACCION']> "2020-01-01") & (df['FECHA EXTRACCION']< "2021-01-01")]
dfEnero = df[(df['FECHA EXTRACCION'] >= "2021-01-01") & (df['FECHA EXTRACCION']< "2021-02-01")]
dfFebrero = df[(df['FECHA EXTRACCION'] >= "2021-02-01") & (df['FECHA EXTRACCION']< "2021-03-01")]
dfMarzo = df[(df['FECHA EXTRACCION'] >= "2021-03-01") & (df['FECHA EXTRACCION']< "2021-04-01")]
dfAbril = df[(df['FECHA EXTRACCION'] >= "2021-04-01") & (df['FECHA EXTRACCION']< "2021-05-01")]

In [ ]:
dfMarzo.head()

0                                    USUARIO  ... RESULTADO
2165  WRSI Servicios de Mexico S de RL de CV  ...  Negativo
2166  WRSI Servicios de Mexico S de RL de CV  ...  Negativo
2167  WRSI Servicios de Mexico S de RL de CV  ...  Positivo
2168  WRSI Servicios de Mexico S de RL de CV  ...  Negativo
2169  WRSI Servicios de Mexico S de RL de CV  ...  Negativo

[5 rows x 9 columns]

In [ ]:
dfMarzo.shape

(198, 9)

In [ ]:
VerClientes = df.pivot_table(index=['USUARIO'], aggfunc='size')
VerClientes

USUARIO
CFM Servicios Administrativos           35
CFM Servicios Administrativos México    21
CFM Servicios administrativos México    23
CFM Servicios de Mexico                 33
CFM servicios administrativos           45
                                        ..
Wurth                                    1
Würth                                   14
Würth Elektronik                         1
Würth Elektronik México                 21
webasto                                  8
Length: 80, dtype: int64

In [ ]:
# Ajuste  CLIENTES Diciembre

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Particular ': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Particular (E)': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Particular (E) ': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Pärticular': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Pärticular (E)': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Pärticular (E) ': 'Particular'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Particular (?)': 'Particular'})

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'CFM Servicios Administrativos México': 'CONAGRA'})

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'F&P MFG de Mexico SA de CV': 'F&P MFG'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'F&P MFG de Mexico SA de CV  (E)': 'F&P MFG'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'F&P MFG de Mexico SA de CV  (E) ': 'F&P MFG'})

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'La Cantera': 'Minera La Cantera'})
dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Minera la Cantera': 'Minera La Cantera'})

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Desarrolladora Marabis': 'Marabis'})

dfDiciembre['USUARIO'] = dfDiciembre['USUARIO'].replace({'Natural Health': 'NaturalHealth'})

In [ ]:
# Ajuste  CLIENTES Enero

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PARTICULAR': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PARTICULAR ': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Particular (E)': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Particular (E) ': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PARTICULAR (E)': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PARTICULAR (E) ': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Particular (Ta)': 'Particular'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PARTICULAR (D)': 'Particular'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'PERSONAL': 'Personal'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'CFM servicios administrativos': 'CONAGRA'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'CFM servicios administrativos': 'CONAGRA'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'CFM Servicios de Mexico': 'CONAGRA'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'CFM Servicios administrativos México': 'CONAGRA'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'CFM Servicios Administrativos': 'CONAGRA'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'F&P': 'F&P MFG'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'WRSI Servicios de Mexico S de RL de CV': 'Webasto'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'WRSI Servicios de Mexico': 'Webasto'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'WRSI Servicios de México': 'Webasto'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Würth Elektronik México': 'Würth'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Wurth': 'Würth'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Prupo PTH': 'Grupo PTH'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'EHS DISSA': 'DISSA'})

dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Iraform (E)': 'Iraform'})
dfEnero['USUARIO'] = dfEnero['USUARIO'].replace({'Iraform (E) ': 'Iraform'})

In [ ]:
# Ajuste  CLIENTES Febrero

dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (E)': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (E) ': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (Tarjeta)': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (Tarjeta) ': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (Sergio)': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (Ta)': 'Particular'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Particular (Ta) ': 'Particular'})

dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'CFM Servicios Administrativos México': 'CONAGRA'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'CFM servicios administrativos': 'CONAGRA'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'Conagra': 'CONAGRA'})

dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'WRSI Servicios de Mexico S de RL de CV': 'Webasto'})
dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'webasto': 'Webasto'})

dfFebrero['USUARIO'] = dfFebrero['USUARIO'].replace({'IRAFORM': 'Iraform'})

In [ ]:
# Comprobador de clientes. Cambiar mes

#dfDiciembre['USUARIO'].value_counts()
#dfEnero['USUARIO'].value_counts()
#dfFebrero['USUARIO'].value_counts()
dfMarzo['USUARIO'].value_counts()
# dfAbril['USUARIO'].value_counts()

Conagra                                   48
Webasto                                   36
Particular (E)                            27
Particular                                27
CFM Servicios Administrativos             14
WRSI Servicios de Mexico S de RL de CV    12
Personal                                  12
Gerso                                      5
EHS DISSA                                  4
DISSA                                      3
La Próxima Estación                        2
Particular (TD)                            1
Würth                                      1
Particular (T)                             1
Iraform                                    1
ISS México                                 1
Particular (Ta)                            1
Würth Elektronik                           1
Particular (Ta)                            1
Name: USUARIO, dtype: int64

In [ ]:
# writing into the file
# df.to_csv("AllDetails.csv", index=False)