<a href="https://colab.research.google.com/github/lymc33/Precision/blob/main/Clientes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Precision Detect/Resultados/TOTAL dic-abril 2021.csv', header=None)

In [4]:
df.head()

      0                1   ...               25         26
0  FOLIO          CLIENTE  ...  FECHA DETECCION  RESULTADO
1      1  PrecisionDetect  ...       22/12/2020   Negativo
2      3  PrecisionDetect  ...       22/12/2020   Positivo
3      4  PrecisionDetect  ...       22/12/2020   Negativo
4      5  PrecisionDetect  ...       22/12/2020   Negativo

[5 rows x 27 columns]

In [5]:
df.shape

(3121, 27)

In [6]:
#Título de las columnas
list_of_column_names = list(df.columns)
print('List of column names : ', 
      list_of_column_names)

List of column names :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [7]:
print(df[11])

0       HOSPITALARIA O AMBULATORIA
1                                A
2                                A
3                                A
4                                A
                   ...
3116                             A
3117                             A
3118                             A
3119                             A
3120                             A
Name: 11, Length: 3121, dtype: object

In [8]:
df.drop([0, 1, 4, 5, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25], axis=1, inplace=True)

In [9]:
df.index.values

array([   0,    1,    2, ..., 3118, 3119, 3120])

In [11]:
#Cambiar el nombre de las columnas en el CSV
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [12]:
#Título de las columnas
list_of_column_names = list(df.columns)
  
# displaying the list of column names
print('List of column names : ', 
      list_of_column_names)

List of column names :  ['USUARIO', 'FECHA DE TOMA DE MUESTRA', 'NOMBRE', 'APELLIDO', 'SEXO', 'EDAD', 'SINTOMAS', 'ID MUESTRA', 'FECHA EXTRACCION', 'RESULTADO']

In [13]:
df['ID MUESTRA']

1        PD.PD.02.0704
2        PD.PD.02.0705
3        PD.PD.02.0706
4        PD.PD.02.0707
5        PD.PD.02.0708
             ...
3116    PD.SEG.02.0003
3117    PD.SEG.02.0005
3118    PD.SEG.02.0006
3119    PD.SEG.02.0007
3120    PD.SEG.02.0008
Name: ID MUESTRA, Length: 3120, dtype: object

In [14]:
df.shape

(3120, 10)

In [15]:
#Archivos duplicados según ID Muestra
df['ID MUESTRA'].duplicated().sum()

35

In [16]:
duplicates = df[df['ID MUESTRA'].duplicated(keep=False)]['ID MUESTRA'].tolist()
duplicates

['PD.F&P.02.21',
 'PD.F&P.02.21',
 'PD.CFM.02.0012',
 'PD.CFM.02.0013',
 'PD.CFM.02.0014',
 'PD.CFM.02.0015',
 'PD.CFM.02.0016',
 'PD.CO.02.0015',
 'PD.CO.02.0016',
 'PD.CO.02.0017',
 'PD.KR.02.0001',
 'PD.KR.02.0002',
 'PD.KR.02.0003',
 'PD.KR.02.0004',
 'PD.KR.02.0005',
 'PD.KR.02.0006',
 'PD.KR.02.0001',
 'PD.KR.02.0002',
 'PD.KR.02.0003',
 'PD.KR.02.0004',
 'PD.KR.02.0005',
 'PD.KR.02.0006',
 'PD.WR.02.0014',
 'PD.WR.02.0015',
 'PD.WR.02.0016',
 'PD.WR.02.0017',
 'PD.WR.02.0018',
 'PD.WR.02.0019',
 'PD.WR.02.0020',
 'PD.WR.02.0021',
 'PD.WR.02.0022',
 'PD.WR.02.0023',
 'PD.WR.02.0024',
 'PD.WR.02.0025',
 'PD.WR.02.0026',
 'PD.WR.02.0027',
 'PD.CFM.02.0012',
 'PD.CFM.02.0013',
 'PD.CFM.02.0014',
 'PD.CFM.02.0015',
 'PD.CFM.02.0016',
 'PD.WÜ.02.0001',
 'PD.WÜ.02.0002',
 'PD.WÜ.02.0003',
 'PD.WÜ.02.0004',
 'PD.WÜ.02.0005',
 'PD.CO.02.0015',
 'PD.CO.02.0016',
 'PD.CO.02.0017',
 'PD.WR.02.0014',
 'PD.WR.02.0015',
 'PD.WR.02.0016',
 'PD.WR.02.0017',
 'PD.WR.02.0018',
 'PD.WR.02.0019',
 'PD.WR.02.0020',
 'PD.WR.02.0021',
 'PD.WR.02.0022',
 'PD.WR.02.0023',
 'PD.WR.02.0024',
 'PD.WR.02.0025',
 'PD.WR.02.0026',
 'PD.WR.02.0027',
 'PD.WÜ.02.0001',
 'PD.WÜ.02.0002',
 'PD.WÜ.02.0003',
 'PD.WÜ.02.0004',
 'PD.WÜ.02.0005',
 'PD.PD.02.2002',
 'PD.PD.02.2002']

In [17]:
#Lista de elementos duplicados de acuerdo al ID
duplicates = df[df['ID MUESTRA'].duplicated(keep=False)]['ID MUESTRA'].index
duplicates

Int64Index([ 180,  297,  893,  894,  895,  896,  897,  898,  899,  900,  901,
             902,  903,  904,  905,  906,  983,  984,  985,  986,  987,  988,
             996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1017, 1018,
            1019, 1020, 1021, 1031, 1032, 1033, 1034, 1035, 1095, 1096, 1097,
            1098, 1099, 1100, 1101, 1102, 2022, 2023, 2024, 2025, 2026, 2027,
            2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038,
            2039, 2040, 2695, 2697],
           dtype='int64')

In [18]:
df.drop(labels=duplicates, axis=0, index=None, columns=None, level=None, inplace=True, errors='raise')

In [19]:
df.isnull().sum()

0
USUARIO                       0
FECHA DE TOMA DE MUESTRA      0
NOMBRE                        0
APELLIDO                      0
SEXO                          0
EDAD                        414
SINTOMAS                    415
ID MUESTRA                    0
FECHA EXTRACCION              0
RESULTADO                     0
dtype: int64

In [25]:
df.dtypes

0
USUARIO                     object
FECHA DE TOMA DE MUESTRA    object
NOMBRE                      object
APELLIDO                    object
SEXO                        object
EDAD                        object
SINTOMAS                    object
ID MUESTRA                  object
FECHA EXTRACCION            object
RESULTADO                   object
dtype: object

In [20]:
df.shape

(3050, 10)

In [21]:
df['USUARIO']

1       Particular
2       Particular
3       Particular
4       Particular
5       Particular
           ...
3116         SEGLO
3117         SEGLO
3118         SEGLO
3119         SEGLO
3120         SEGLO
Name: USUARIO, Length: 3050, dtype: object

In [56]:
tipoPagos = df.pivot_table(index=['USUARIO'], aggfunc='size')
print (tipoPagos)

USUARIO
CFM Servicios Administrativos           35
CFM Servicios Administrativos México    21
CFM Servicios administrativos México    23
CFM Servicios de Mexico                 33
CFM servicios administrativos           45
                                        ..
Wurth                                    1
Würth                                   14
Würth Elektronik                         1
Würth Elektronik México                 21
webasto                                  8
Length: 80, dtype: int64

In [57]:
df['USUARIO'].value_counts()

Particular                                710
Particular (E)                            453
Webasto                                   308
PARTICULAR                                256
WRSI Servicios de Mexico S de RL de CV    222
                                         ...
Minera La Cantera                           1
Particular (C)                              1
Desarrolladora Marabis                      1
Particular (T)                              1
PARTICULAR                                  1
Name: USUARIO, Length: 80, dtype: int64

In [ ]:
# updating the column value/data
# df['USUARIO'] = df['USUARIO'].replace({'P': 'A'})
  

# df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1)  # new method
# df2 = df.rename({'a': 'X', 'b': 'Y'}, axis='columns')
# df2 = df.rename(columns={'a': 'X', 'b': 'Y'})  # old method  
  
  
# print(df)

In [ ]:
# writing into the file
# df.to_csv("AllDetails.csv", index=False)